.menu-manager {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  margin-left:280px;
  font-family: 'Segoe UI', sans-serif;
}

.menu-form input,
.menu-form textarea {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.preview-img {
  width: 120px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.menu-list {
  margin-top: 40px;
}

.menu-list h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.menu-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.menu-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.menu-card h4 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: #222;
}

.menu-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.menu-card button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10%;
}

.menu-card button:hover {
  background-color: #e60000;
}
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.checkbox-group label {
  font-size: 16px;
  color: #333;
}

.checkbox-group input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.submit-button {
  margin-top: 20px;
  padding: 12px 20px;
  background: #e60000;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  background: #e60000;
 
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
}

.submit-button:hover {
  background: #e60000;

  transform: scale(1.03);

}
