.order-history-page-res{
  padding: 20px;
  margin-left: 280px;
  font-family: 'Segoe UI', sans-serif;
}

.order-card-res{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 15px;
  margin-bottom: 20px;
}

.order-card-res h3 {
  margin-bottom: 10px;
  color: #0984e3;
}

.order-card-res p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.order-card-res ul {
  margin-top: 10px;
  padding-left: 20px;
}
