/* Landing.css */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

.landing-container {
  width: 100%;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
}

.logo-landing {
  font-size: 24px;
  margin-left: 5%;
  font-weight: bold;
  color: #e63946;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.login-btn-landing {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 5%;
}
.nav-links li button,
.nav-links li a {
  background: none;
  border: none;
  color: #333;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  text-decoration: none;
}

.nav-links li button:hover,
.nav-links li a:hover {
  text-decoration: none;
}

.nav-links li button:focus,
.nav-links li a:focus {
  outline: none;
  color: #333;
}


.hero-section-landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  background-color: #f8f9fa;
}

.hero-text-landing {
  max-width: 50%;
  margin-bottom: 15%;
}

.hero-text-landing h1 {
  font-size: 40px;
  color: #1d3557;
  margin-bottom: 20px;
}

.hero-text-landing p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.cta-btn {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.hero-image img {
  max-width: 500px;
  border-radius: 12px;
}
.services-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.services-section h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
}

.service-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.service-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 300px;
  text-align: center;
}
.service-card:hover{
    cursor: pointer;
}

.service-card img {
  width: 200px;
  height:220px;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 1rem;
  color: #666;
}

#footer-landing{
  margin-top: 12%;
  background-color: white;
}
