.order-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.food-items-container{
  margin-top: 200px;
}
.order-button:hover {
  background-color: #45a049;
}
.navbar-fooditems{
  background-color: #EB0029;
  height: 90px;
  width:auto;
  top: 0;
}
.food-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  justify-content: center;
  background-color: #f9f9f9;
}
#image-food{
  height: 200px;
}
.left-div-food{
   display: flex;
  justify-content: space-between;
    text-align: left;
   margin-top: 10%;
     flex: 1;
}

.right-div-food{
    display: flex;
  justify-content: space-between;
 
flex: 0 0 320px; 
  text-align: right;
  margin-bottom: 30%;

}
.food-card {
  margin-top: 5%;
  width: 350px;
  height: 350px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
 
  padding: 16px;
  transition: transform 0.2s ease;
}

.food-card:hover {
  transform: scale(1.03);
}

.food-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.food-card h3 {
  
  font-size: 20px;
  color: #333;
}

.food-card p {
  
  font-size: 14px;
  color: #666;
}

.food-card strong {
  color: #444;
}

.order-button {
  
  margin-bottom: 30%;
  padding: 8px 14px;
  background-color: #ff5722;
  color: white;
  gap: 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.order-button:hover {
  background-color: #e64a19;
}

.cart-button {
  position: absolute;
  top: 80px;
  margin-top: 3%;
  right: 30px;
  padding: 10px 18px;
  background-color: #EB0029;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}

.cart-button:hover {
  background-color: #EB0029;
  transform: scale(1.05);
}