.brands-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.brands-list {
    display: flex;
    justify-content: center;
  
    gap: 20px;
    margin-top: 20px;
}

.brand-item {
    display: flex;
    flex-direction: column;
   text-align: center;
   margin: 2.5%;
    width: 150px;
}

.brand-item img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.brand-name {
    
    font-size: 16px;
    margin-top: 8px;
    text-align: center;
}


.brand-header{
    font-size: 40px;
    font-family: Rubik;
    color: #EB0029;
    margin-bottom: 2%;
    text-align: center;

}