
.login-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}


.login-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}

.login-img {
  width: 80%;
  max-width: 400px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}


.login-form h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.login-form p {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}


.login-form input {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
}


.forgot-link {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-link a {
  color: #e63946;
  text-decoration: none;
}

.forgot-link a:hover {
  text-decoration: underline;
}


.login-form button {
  padding: 12px;
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #d62828;
}


.register-link a {
  color: #e63946;
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
.link-button{
  color:#e63946;
}
.link-button:hover{
  
  cursor: pointer;
}
.forgot-password-link a {
  color: #e63946;
  text-decoration: none;
  cursor: pointer;
}

.forgot-password-link a:hover {
  text-decoration: underline;
}
