


.history-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  padding: 40px;
  background: #fff0f0;
 
   
  overflow-y: auto;
}



 
 


.history-heading {
  font-size: 30px;
  margin-bottom: 30px;
  color: #000000;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}


.history-list {
  list-style: none;
  padding: 0;
}

.history-item {
  background-color: #fff;
  border-left: 4px solid #ff4d4d;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  text-align: left; 
}

.history-item:hover {
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.15);
}


.history-item strong {
  color: #000000;
}


.loading-text,
.error-text {
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
  color: #000000;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}