.custorders-navbar{
     background-color: #EB0029;
     height: 100px;
}
 
.orders-container-customer {
  margin-top: 5%;
 
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}
 .food-status-pending {
  color: orange;
  font-weight: bold;
}

.food-status-delivered {
  color: green;
  font-weight: bold;
}

.orders-container-customer h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
 
.orders-list-customer {
  display: flex;
 
  flex-direction: column;
 
}
 
.order-card-customer{
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  align-items: center;
   margin-left: 18%;
   margin-right: 18%;
}
 
.order-img-customer {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}
 
.order-info-customer h3 {
  margin: 0;
  font-size: 22px;
  color: #222;
}
 
.order-info-customer p {
  margin: 6px 0;
  color: #555;
  font-size: 15px;
}
 